<div layout="row" layout-align="start-center" style="min-height: 650px">

  <div layout="column" layout-align="center center" flex="25">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">Mine data from genres</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-align="start center">
          <md-input-container flex="100">
            <label>Genre</label>
            <md-select ng-model="vm.genre" flex="100" ng-change="vm.clear()">
              <md-option ng-repeat="genre in vm.genres" ng-value="genre">
                {{ genre.name }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
          <md-input-container flex="100">
            <label>Number of Movies</label>
            <md-select ng-model="vm.selectedPage" flex="100">
              <md-option ng-repeat="page in vm.pages" ng-value="page">
                {{ page.numberOfMovies }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-accent" ng-click="vm.mine()" ng-disabled="vm.genre == ''">Start mining</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <div layout="row" layout-align="center start" flex="75" layout-wrap>
    <!-- <md-card ng-repeat="movie in vm.movies" flex="20">
      <img ng-src="{{ 'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.backdrop_path }}" alt="">
      <md-card-title>
        <md-truncate>
          <span>{{ movie.original_title }}</span>
        </md-truncate>
      </md-card-title>
    </md-card> -->
    <md-card ng-if="vm.foundMovies" flex="75">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <span class="md-title">
            <strong>
              {{ vm.genre.name }}
            </strong>
          </span>
        </div>
      </md-toolbar>
      <md-card-content>
        <md-virtual-repeat-container style="height: 500px">
          <div md-virtual-repeat="movie in vm.movies" flex>
            <p>
              {{ movie.original_title }}
            </p>
            <md-divider ng-if="!$last"></md-divider>
          </div>
        </md-virtual-repeat-container>
      </md-card-content>
    </md-card>
    <div ng-if="vm.searchingForMovies" layout="row" layout-align="center center">
      <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>
</div>