<div layout="column" class="h-100">
  <div class="parallax bg-movies" layout="column" layout-align="center center" flex="100">
    <div layout="row" layout-align="center center" flex="100" class="w-100">
      <md-card flex="33" md-colors="{ 'background' : 'grey-800-0.90' }">
        <md-card-title>
          <span class="md-title">Search Movie</span>
        </md-card-title>
        <md-divider class="bg-white"></md-divider>
        <md-card-content>
          <div layout="row" layout-align="space-between center">
            <md-input-container flex="100">
              <input type="text" placeholder="Movie ID" ng-model="vm.movieId">
            </md-input-container>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-accent md-raised" ng-click="vm.findById()">Search</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
<div id="movieInfo" layout="row" ng-if="vm.movie.hasOwnProperty('original_title')" md-colors="{ 'background' : 'grey-800' }">
  <div flex="30">
    <md-card>
      <img ng-src="{{ 'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + vm.movie.poster_path }}" alt="">
    </md-card>
  </div>
  <div flex="70">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">{{ vm.movie.original_title }}</span>
        </md-card-title-text>
      </md-card-title>
      <div class="md-padding">
        <md-chips ng-model="vm.movie.genres" readonly="true">
          <md-chip-template>
            {{ $chip.name }}
          </md-chip-template>
        </md-chips>
      </div>
      <md-card-content>
        <p>
          {{ vm.movie.overview }}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
<div layout="row" layout-align="center center" layout-margin flex ng-if="vm.isSpinnerShowing">
  <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
</div>
<div layout="row" layout-align="center center" ng-if="vm.showChart" md-colors="{ 'background' : 'grey-800' }">
  <md-card flex="75">
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">Results</span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series">
      </canvas>
    </md-card-content>
  </md-card>
</div>